geojson
h5py
mera @ git+https://github.com/ucgmsim/mera.git
numpy<2
openquake.engine
pandas
pytest-black
pytest>=3.5.0
pyyaml
qcore @ git+https://github.com/ucgmsim/qcore.git
scipy>=1.7.2
source-modelling @ git+https://github.com/ucgmsim/source_modelling.git
turfpy
typer
