name: Deptry Dependency Check

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Setup the minimum required python distribution
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Define a cache dependency glob
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install gdal
        run: sudo apt-get update && sudo apt-get install gdal-bin libgdal-dev

      - name: Install the project
        run: uv sync --project oq_wrapper/ --all-extras --dev 
        
      - name: Run deptry
        run: uv run deptry . -ee oq_wrapper/scripts/one_offs/ -ee tests
        working-directory: ./oq_wrapper

    
